<label>Server Name</label>
<input type="text" class="form-control" [(ngModel)] = "serverName">
<button class="btn btn-primary" [disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<!-- <p>{{serverCreationStatus}}</p> -->
<!--<p>{{ serverName }}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created! Server name is {{ serverName }}!</p>
<ng-template #noServer>
  <p>You haven't yet created a server </p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
<label>Username</label>
<input type="text" class="form-control" [(ngModel)] = "userName" >
<button class="btn btn-primary color=yellow" [disabled] = "stringEmpty()"
(click)="updateUserNameInfo()">Update Username</button>
<p> {{ userNameInfo }} </p>
<button class="btn btn-primary" (click)="onDetailButtonClick()">Display details</button>
<p *ngIf="showDetails">Here be details.</p>
<ul>
  <p>Button was clicked at these times</p>
  <li *ngFor="let timestamp of timeStamps; let i=index" [ngStyle]="{backgroundColor: getFifthColour(i)}"
  [ngClass]="{fifth_timestamp: i >=4}"> {{ timestamp }} </li>
</ul>

